.partners {

  &__slider {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  &__labels {
    list-style: none;
    padding: 0;
    //height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }
  &__labels--items {

  }
  &__btn {
    width: 99px;
    height: 29px;
    background-color: #7beec7;
    color: white;
  }

}
.pl{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

